@import "bootstrap-sprockets";
@import "bootstrap";

.favorite {
  color:#808080;
  display: inline-flex;
}

.favorite:before {
  content: '';
  display: inline-block;
  background-image:url(/images/unstar.jpeg);
  padding-right: 2px;
  padding-top: 1px;
  background-size: contain;
  width: 32px;/*画像の幅*/
  height: 34px;/*画像の高さ*/
}

.added {
  color:black;
  display: inline-flex;
}

.added:before {
  content: '';
  display: inline-block;
  background-image:url(/images/star.jpeg);
  padding-right: 2px;
  padding-top: 1px;
  background-size: contain;
  width: 32px;/*画像の幅*/
  height: 34px;/*画像の高さ*/}

.triplicate{
  width: 33.33333%;
  float: left;

}

/*--------sp-------*/

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
  img {
    width: 100%;
  }
  span {
    font-size: 25px;
  }
  .navbar-fixed-top, .navbar-fixed-bottom {
    position: sticky;
  }
  .pd15{
    padding: 15px;
  }
  .fs30{
    font-size: 30px;
  }
}
